#showContainer{
    background-color: whitesmoke;
    width:100%;
    display:flex;
    flex-direction: column;
   
}
.showSearch{
    width:80%;
    display:flex;
    justify-content: space-between;
}
.txtFiltering{
    color:black;
}
#foundShow{
    color:black;
}
#selectedShow{
    color:black;
    width:100px;
}
.show{
    margin-top: 1.5rem;
    padding: 1rem;
    box-shadow:  0 0 1rem  #9ea5a5;
    border-radius: 0.5rem;
    width:96%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-wrap: wrap;
}
#home{
    width:5rem;
}
#showSelected{
    width:10rem;
}
#showSearch{
    width:5rem;
}
.showName:active{
   color: red;
}
.showName:hover{
    color:blue;
    cursor: pointer;
}
.showContent{
    margin-top:1rem;
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.showImg{
    width:17%;
    height:10rem;
}
.showImg img{
    width:100%;
    height:100%;
    
}
.showDescription{
    width:54%;
}
.showDetail{
    width:25%;
    box-shadow:  0 0 1rem  #9ea5a5;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height:10rem;
    font-size:0.8rem;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    list-style-type: none;
}
.detail{
    color:black;
    width:100%;
}