*{
  margin: 0px;
  padding: 0px;
}
body{
  width:100vw;
  height: 100vh;
}

#container{
  font:10px;
  width:80%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2rem;
  background-color:rgb(211,211,211);
}

#root-grid {
  width:100%;
  height:auto;
  margin-top:0.5rem;
  display: flex;
  justify-content: center;
  background-color:rgb(211,211,211);
  color:black;
  font-style: monospace;
  background-color: rgb(211,211,211);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap:1rem;
  grid-column-gap:1rem;
}
.episode-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.episode-title{
  width:100%;
  height:3rem;
  text-align: center;
  font-weight: bold;
  border:0.1rem solid rgb(32, 4, 4);
  border-radius:0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.episode-title:hover{
  border-color: blue;
  cursor: pointer;
}
.episode-img{
  width:80%;
  height:6rem;
  margin-top:1rem;
}
.episode-description{
  width:80%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size:0.7rem;
  color:gray;
}
#search{
  text-align: center;
  width: 100%;
  height:auto;
  color:rgb(59, 56, 56);
}
.txtSearch{
  color:black;
  height:2rem;
  width:7rem;
  margin-left: 0.5rem;
}
.txtSelect{
  color:black;
  height:2rem;
  width:10rem;
  background-color: rgb(211,211,211);
  margin-left: 0.5rem;
}
.txtShow{
  color:black;
  height:2rem;
  width:10rem;
  background-color: rgb(211,211,211);
  margin-left: 0.5rem;
}
.displayNo{
  font-size:0.8rem;
}
#btnHome{
  margin-left: 0.5rem;
}